## rf condition config  
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal 
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

## main param
BPM_AREA = CLARA_2_BA1_BA2;
CHARGE_AREA = CLARA_PH1;
BPM_NAMES = test;
SCOPE_NAME = test;

## scope channel to monitor
CHARGE_DIAG_TYPE = WCM; diagnostic device

MACHINE_MODE = PHYSICAL;
BPM_MODE = PHYSICAL;
CHARGE_MODE = PHYSICAL;

## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = "\\apclara1.dl.ac.uk\ControlRoomApps\Stage\Software\Apps\BPMCalibration\logs\";
##gui
GUI_UPDATE_TIME  = 1000;
DATA_LOG_TIME  = 1000;


