magnet-table/magnet-table.ini
*.pyc
*.dll
*.pyd
*.dat
*.pkl
magnet-table/.idea/*.*
magnet-table/tmp/*.*
magnet-table/rf_sol_gui.py
magnet-table/src/pip-delete-this-directory.txt
.idea
*.bat
*.bat
Apps/imageCollector/v3/pyinstaller-build.bat
Apps/MomentumApp/controller/controller.py
Apps/MomentumApp/controller/controller.py
*.h5
Procedures/Tomography_Analysis/CLARATomography2DHK/Data 2019-03-04 10pC degaussing sol -125.0/S02-CAM-02_2019-3-4_17-48-46_10images.hdf5
Apps/AlignOnBPMs_v2/bpm_calibration_test.py
Apps/MagnetApp/.idea/workspace.xml
Apps/MagnetApp/.idea/modules.xml
Apps/MagnetApp/.idea/misc.xml
Apps/MagnetApp/.idea/MagnetApp.iml
Apps/MagnetApp/magnetAppLog.log
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-Analysis.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-EXE.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-PKG.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-PYZ.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-Tree.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out01-Tree.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-Analysis.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-EXE.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-PKG.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-PYZ.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out00-Tree.toc
Apps/Virtual_Cathode_Setup/v2/build/VC_Setup/out01-Tree.toc
Apps/Virtual_Cathode_Setup/v4/build/Virtual_Cathode_App/PYZ-00.toc
Apps/Virtual_Cathode_Setup/v4/build/Virtual_Cathode_App/Tree-00.toc
Apps/Virtual_Cathode_Setup/v4/build/Virtual_Cathode_App/Tree-01.toc
Apps/Virtual_Cathode_Setup/virtual_cathode_setup_3/build/Virtual_Cathode_App/out00-Analysis.toc
Apps/Virtual_Cathode_Setup/virtual_cathode_setup_3/build/Virtual_Cathode_App/out00-EXE.toc
Apps/Virtual_Cathode_Setup/virtual_cathode_setup_3/build/Virtual_Cathode_App/out00-PKG.toc
Apps/Virtual_Cathode_Setup/virtual_cathode_setup_3/build/Virtual_Cathode_App/out00-PYZ.toc
Apps/Virtual_Cathode_Setup/virtual_cathode_setup_3/build/Virtual_Cathode_App/out00-Tree.toc
Apps/Virtual_Cathode_Setup/virtual_cathode_setup_3/build/Virtual_Cathode_App/out01-Tree.toc
Apps/Virtual_Cathode_Setup/v1/build/VC_Setup/out00-Analysis.toc
Apps/Virtual_Cathode_Setup/v1/build/VC_Setup/out00-EXE.toc
Apps/Virtual_Cathode_Setup/v1/build/VC_Setup/out00-PKG.toc
Apps/Virtual_Cathode_Setup/v1/build/VC_Setup/out00-PYZ.toc
Apps/Virtual_Cathode_Setup/v1/build/VC_Setup/out00-Tree.toc
Apps/Virtual_Cathode_Setup/v1/build/VC_Setup/out01-Tree.toc
*.hdf5
*.SDDS
*.001
Utils/MachineState/test/Injector10_Separated_Solenoids.log
Utils/MachineState/test/Injector10_Separated_Solenoids.Log.001
Utils/MachineState/test/Injector10_Separated_Solenoids.ref.001
Utils/MachineState/test/Injector10_Separated_Solenoids.track.001
Utils/MachineState/test/Injector10_Separated_Solenoids.Xemit.001
Utils/MachineState/test/Injector10_Separated_Solenoids.Yemit.001
Utils/MachineState/test/Injector10_Separated_Solenoids.Zemit.001
Utils/MachineState/test/Injector10_Separated_Solenoids_E.Log.001
Utils/MachineState/test/laser.astra
Utils/MachineState/test/laser.generator
Utils/MachineState/test/laser.hdf5
Utils/MachineState/test/laser.in
Utils/MachineState/test/NORRAN
Utils/MachineState/test/S02.cen
Utils/MachineState/test/S02.ele
Utils/MachineState/test/S02.log
Utils/MachineState/test/S02.lte
Utils/MachineState/test/S02.sig
Utils/MachineState/test/S02.twi
