magnet-table/magnet-table.ini
*.pyc
*.dll
*.pyd
*.dat
*.pkl
magnet-table/.idea/*.*
magnet-table/tmp/*.*
magnet-table/rf_sol_gui.py
magnet-table/src/pip-delete-this-directory.txt
.idea
*.bat
*.bat
Apps/imageCollector/v3/pyinstaller-build.bat
Apps/MomentumApp/controller/controller.py
Apps/MomentumApp/controller/controller.py
