## rf condition config
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

##
SCOPE_NAME=CLARASCOPE01
SCOPE_AREA="VELA_INJ"

## main param
TIMEBASE=1e-9;seconds
SCOPE_CHECK_TIME = 100 #ms, can't go faster than 10Hz

## diagnostic types for each channel
C1_DIAG_TYPE = WCM_RAW
C2_DIAG_TYPE = WCM
C3_DIAG_TYPE = PI_LASER
C4_DIAG_TYPE = FCUP_TRANS

## scope setup
TRIGGER_SOURCE = EXT
HOR_OFFSET = 0
HOR_SCALE = 0.00000002 #s
MAX_SAMPLES = 10000
NUM_POINTS = 2000
SAMPLE_RATE = 10 #Gsamples/s
C1_COUPLING = DC50
C2_COUPLING = AC1000000
C3_COUPLING = DC1000000
C4_COUPLING = AC1000000
C1_AVERAGE_SWEEPS = 1
C2_AVERAGE_SWEEPS = 1
C3_AVERAGE_SWEEPS = 1
C4_AVERAGE_SWEEPS = 1
C1_VER_SCALE = 0.05 #V
C2_VER_SCALE = 0.05 #V
C3_VER_SCALE = 0.05 #V
C4_VER_SCALE = 0.05 #V
C1_VER_OFFSET = -0.1 #V
C2_VER_OFFSET = -0.0 #V
C3_VER_OFFSET = -0.0 #V
C4_VER_OFFSET = 0.1 #V

## zoom parameters
Z1_HOR_CENTER = 0.00001 #s
Z2_HOR_CENTER = 0.00001 #s
Z3_HOR_CENTER = 0.00001 #s
Z4_HOR_CENTER = 0.00001 #s
Z1_HOR_POS = 0
Z2_HOR_POS = 0
Z3_HOR_POS = 0
Z4_HOR_POS = 0
Z1_HOR_SCALE = 0.00000002 #s
Z2_HOR_SCALE = 0.00000002 #s
Z3_HOR_SCALE = 0.00000002 #s
Z4_HOR_SCALE = 0.00000002 #s
Z1_HOR_ZOOM = 10
Z2_HOR_ZOOM = 10
Z3_HOR_ZOOM = 10
Z4_HOR_ZOOM = 10
Z1_VER_CENTER = 0 #V
Z2_VER_CENTER = 0 #V
Z3_VER_CENTER = 0 #V
Z4_VER_CENTER = 0 #V
Z1_VER_POS = 0 #V
Z2_VER_POS = 0 #V
Z3_VER_POS = 0 #V
Z4_VER_POS = 0 #V
Z1_VER_SCALE = 0 #V
Z2_VER_SCALE = 0 #V
Z3_VER_SCALE = 0 #V
Z4_VER_SCALE = 0 #V
Z1_VER_ZOOM = 1
Z2_VER_ZOOM = 1
Z3_VER_ZOOM = 1
Z4_VER_ZOOM = 1

## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = "\\\\apclara1.dl.ac.uk\\ControlRoomApps\\Stage\\Apps\\ScopeWriter\\logs\"; breakdown data
DATA_LOG_FILENAME = data_log; general data
DATA_LOG_TIME = 1000; ms between logging data
SETTINGS_CHANGED_FILENAME = scope_settings_log;

##gui
GUI_UPDATE_TIME  = 1000;


