## rf condition config  
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal 
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

##
RF_STRUCTURE=CLARA_LRRG

## main param
TIME_BETWEEN_RF_INCREASES=10;seconds
RF_INCREASE_LEVEL=0.001;kw (KLYSTRON FORRWARDD POWER ESTIMATE)
DEFAULT_RF_INCREASE_LEVEL=1;LLRF units
RF_REPETITION_RATE=1;Hertz future proofing
BREAKDOWN_RATE_AIM=5;units?
MEAN_TIME_TO_AVERAGE=0.300;in us, time before pulse end that is averaged from traces
LLRF_CHECK_TIME=50;ms to check main llrf parameters

# #breakdown / outside_mask traces
BREAKDOWN_TRACES=CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER;
OUTSIDE_MASK_CHECK_TIME = 100; ms between outside_mask_trace checks
TRACES_TO_SAVE=KLYSTRON_FORWARD_PHASE,KLYSTRON_REVERSE_PHASE,KLYSTRON_FORWARD_POWER,KLYSTRON_REVERSE_POWER,CAVITY_REVERSE_PHASE,CAVITY_FORWARD_PHASE, CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER,CAVITY_PROBE_POWER,CAVITY_PROBE_PHASE;specify traces to save breakdown data#
EXTRA_BREAKDOWN_DAQ=VAC_LEVEL,DC_LEVEL,BREAKDOWN_RATE,BREAKDOWN_COUNT; has to go in python NOT IMPLEMTED YET
OUTSIDE_MASK_COOLDOWN_TIME = 2000; int, ms cooldown time


## CAVITY REFLECTED POWER MASK PARAMETERS
CRP_AUTO_SET=TRUE;Will pick mask indices automatically, if false YOU must Define Them
CRP_S1=0;Only used if CRP_AUTO_SET=FALSE
CRP_S2=0;Only used if CRP_AUTO_SET=FALSE
CRP_S3=0;Only used if CRP_AUTO_SET=FALSE
CRP_S4=0;Only used if CRP_AUTO_SET=FALSE
CRP_MASK_TYPE=PERCENT;OR ABSOLUTE
CRP_MASK_LEVEL=30;units depend on CRP_MASK_TYPE
CRP_CHECK_STREAK=10;how many continuous points outside mask
CRP_MASK_END=2.0;ms from end of RF pulse 
CRP_MASK_FLOOR=5000;W values below this won't get checked
CRP_NUM_AVERAGE_TRACES=3;
CRP_AMP_DROP=TRUE;
CRP_AMP_DROP_VAL=2;

## CAVITY FORWARD POWER MASK PARAMETERS
CFP_AUTO_SET=TRUE;Will pick mask indices automatically, if false YOU must Define Them
CFP_S1=0;Only used if CRP_AUTO_SET=FALSE
CFP_S2=0;Only used if CRP_AUTO_SET=FALSE
CFP_S3=0;Only used if CRP_AUTO_SET=FALSE
CFP_S4=0;Only used if CRP_AUTO_SET=FALSE
CFP_MASK_TYPE=PERCENT;OR ABSOLUTE
CFP_MASK_LEVEL=30;units depend on CFP_MASK_TYPE
CFP_CHECK_STREAK=10;how many continuous points outside mask
CFP_MASK_END=2.0;ms from end of RF pulse 
CFP_MASK_FLOOR=3000;W values below this won't get checked
CFP_NUM_AVERAGE_TRACES=4;
CFP_AMP_DROP=FALSE;
CFP_AMP_DROP_VAL=3;


## CAVITY PROBE POWER MASK PARAMETERS
CPP_AUTO_SET=TRUE;Will pick mask indices automatically, if false YOU must Define Them
CPP_S1=0;Only used if CPP_AUTO_SET=FALSE
CPP_S2=0;Only used if CPP_AUTO_SET=FALSE
CPP_S3=0;Only used if CPP_AUTO_SET=FALSE
CPP_S4=0;Only used if CPP_AUTO_SET=FALSE
CPP_MASK_TYPE=PERCENT;OR ABSOLUTE
CPP_MASK_LEVEL=30;units depend on CPP_MASK_TYPE
CPP_CHECK_STREAK=10;how many continuous points outside mask
CPP_MASK_END=2.0;ms from end of RF pulse 
CPP_MASK_FLOOR=3000;W values below this won't get checked
CPP_NUM_AVERAGE_TRACES=4;
CPP_AMP_DROP=FALSE;
CPP_AMP_DROP_VAL=4;


## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = /logs/logs; breakdown data
OUTSIDE_MASK_DIRECTORY = "C:\Users\dlerlp\Documents\RF_condition_2018\logs\outside_mask"; outside_mask data
OUTSIDE_MASK_FORWARD_FILENAME = outside_forward_log; 
OUTSIDE_MASK_REVERSE_FILENAME = outside_reverse_log;
OUTSIDE_MASK_PROBE_FILENAME = outside_probe_log;
DATA_LOG_DIRECTORY =  "C:\Users\dlerlp\Documents\RF_condition_2018\logs\data"; general data
DATA_LOG_FILENAME = data_log; general data
DATA_LOG_TIME = 1000; ms between logging data


## Vacuum parameters
VAC_PV=EBT-HRG1-VAC-IMG-01:PRES;
VAC_SPIKE_DELTA=7e-10;
VAC_DECAY_MODE=TIMED;Or TIMED if LEVEL then set VAC_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
VAC_SPIKE_DECAY_LEVEL=1.1;
VAC_SPIKE_DECAY_TIME=2000;ms
VAC_NUM_SAMPLES_TO_AVERAGE=5;
VAC_CHECK_TIME = 1000; ms between vacuum level checks
VAC_SHOULD_DROP_AMP = FALSE; amp_sp to set if vacuum spike
VAC_SPIKE_AMP_DROP = 5; amp_sp to set if vacuum spike

## DC parameters
DC_PV = EBT-INJ-SCOPE-01:P4
DC_SPIKE_DELTA=0.015;
DC_DECAY_MODE=TIMED;Or TIMED if LEVEL then set DARK_CURRENT_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
DC_SPIKE_DECAY_LEVEL=1.1;
DC_SPIKE_DECAY_TIME=4000;
DC_NUM_SAMPLES_TO_AVERAGE=5;
DC_CHECK_TIME = 1000; ms between vacuum level checks
DC_SHOULD_DROP_AMP = FALSE;
DC_SPIKE_AMP_DROP = 6; amp_sp to set if vacuum spike


##Temperature PVs
CAVITY_TEMPERATURE_PV=CLA-GUN-RF-LRRG-04:RT;
CAVITY_TEMPERATURE_CHECK_TIME = 1000;ms between getting new value
WATER_TEMPERATURE_PV=CLA-GUN-RF-LRRG-01:RT;
WATER_TEMPERATURE_CHECK_TIME = 1000;ms between getting new value

##modulator checking
MOD_CHECK_TIME  = 1000;ms

##rf protection checking
RF_PROT_CHECK_TIME  = 1000;ms

## vac_valve
VAC_VALVE_AREA = S01;value used to define MACHINE_AREA
VAC_VALVE = VALV01;value must match name of valve in MACHINE_AREA to monitor
VAC_VALVE_CHECK_TIME = 1000;ms between getting new value!!!!not used !!!!!!!!!


##gui
GUI_UPDATE_TIME  = 1000;


