## rf condition config
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

## main param
BPM_AREA = CLARA_PH1
SCOPE_AREA = VELA_INJ
BPM_NAMES = test;
SCOPE_NAME = test

## scope channel to monitor
SCOPE_CHANNEL = P4; depends on the diagnostic device used
SCOPE_DIAG_TYPE = WCM; diagnostic device

MACHINE_MODE = PHYSICAL

## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = "."; breakdown data
##gui
GUI_UPDATE_TIME  = 1000;
DATA_LOG_TIME  = 1000;
