/* default formatting */
body {
  margin:3px;
  color:black;
  background-color:#eef3f9;
  font-family:sans-serif;
  /* background-image:url(elog.gif); */
}

/* make things look a bit nicer on smaller screens */
@media (max-width: 700px) {
    body > table.headerTable {
        display: none;
    }

	/* body>formed for youuuuu */
    body > form > table.headerTable {
        display: none;
    }

	table.listframe td, table.listframe th {
		display: none;
	}

	/* show id, date, personnel, summary in separate lines */
	table.listframe td:nth-of-type(-n+2), table.listframe td:nth-of-type(4), table.listframe td:nth-last-of-type(2) {
		display: block;
		border: 0px;
	}

	/* reduce size of MS tables a bit */
	table.machine-status strong {
		font-weight: normal;
		font-size: 80%;
	}

}

.headerTable {
	background-color: white;
}

/* line containing 'report fault', bizarrely this is called headerTable too... */
.menu1 .headerTable {
	background-color: #eef3f9;
}

body > form {
	background-color: white;
}

/* standard link colors and decorations */
a:link { color:black; text-decoration:none }
a:visited { color:#222222; text-decoration:none }
a:hover { color:#666666;}
a:active { color:#666666;}
a:focus { color:#666666;}

.messageframe p, .messageframe ul, .messageframe li, .messageframe table
{
	margin-top: 3px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
}

th {
  text-align: left;
}

td {
  color:black;
  font-size:12px;
}

/* frame table */
.frame {
  width:100%;
}

/* printable frame table */
.pframe {
  width:600px;
}

/* standard formatting for logbook tabs */
.tabs {
  font-family:sans-serif;
  font-size:10pt;
  background-color:#eef3f9;
}

.tabs a:link { color:black; text-decoration:none }
.tabs a:visited { color:black; text-decoration:none }

/* logbook selection page */
.selframe {
  width:60%;
  background-color:#ffffff;
  border:0px solid #ffffff;
  font-size:12pt;
}

.selframe tr:nth-of-type(2n) {
	background-color: #b3cbe5;
}
.selframe tr:nth-of-type(2n+1) {
	background-color: #eef3f9;
}

.seltitle {
  border:0px solid #0000FF;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#0c5192;
  color:#ffffff;
  text-align:center;
}

.selexp {
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#0c5192;
  color:#ffffff;
  text-align:left;
  font-size:10pt;
}

.selspace {
  width:2%;
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#EEEEEE;
}

.selgroup {
  border:0px solid #308000;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#FFCCFF;
  padding:3px;
  text-align:left;
  font-weight:bold;
  font-size:14pt;
}

.sellogbook {
  border:0px solid #308000;
  border-top:0px solid white;
  border-left:0px solid white;
/*  background-color:#b3cbe5;*/
  padding:3px;
  text-align:left;
  font-weight:bold;
}

.selcomment {
  font-size:8pt;
}

.selentries {
/*  background-color:#E0E0A0;*/
  border:0px solid #0000FF;
  border-top:0px solid white;
  border-left:0px solid white;
  text-align:center;
  font-size:10pt;
}

/* unselected and selected group tabs */

.gtab a {
  background-color:#B0E0B0;
  padding-left:5px;
  padding-right:5px;
}

.gtab {
  background-color:#B0E0B0;
  border-right:1px solid #409040;
}

.sgtab a {
  color:white;
  padding-left:5px;
  padding-right:5px;
}

.sgtab {
  background-color:#ffffff;
  color:white;
  border-right:1px solid #084070;
}

.sgtab a:visited { color:white; } /* bug for IE */

/* unselected and selected logbook tabs */

.ltab a {
  background-color:#b3cbe5;
  color:black;
  padding-left:5px;
  padding-right:5px;
}

.ltab {
  background-color:#00060c;
  border-top:1px solid #eef3f9;
  border-left:1px solid #eef3f9;
  border-right:1px solid #eef3f9;
}

.sltab a {
  background-color:#0e4995;
  color:#eef3f9 ! important;
  padding-left:5px;
  padding-right:5px;
}

.sltab {
  background-color:#0e4995;
  font-weight:bold;
  color:eef3f9 ! important;
  border-left:1px solid white;
  border-right:1px solid white;
}

.sltab a:visited { color:#00060c; } /* bug for IE */

/* logbook title, left, middle and right cell */

.title1 {
  padding:5px;
  background-color:#eef3f9;
  border-bottom:1px solid white;
  border-left:1px solid #eef3f9;
  color:00060c;
  font-size:medium;
  font-family:sans-serif;
  text-align:left;
}

.title1 a:visited { color:#A0FFA0; }
.title1 a:link { color:#A0FFA0; }

.title2 {
  background-color:#eef3f9;
  border-bottom:1px solid white;
  color:#00060c;
  font-size:medium;
  font-family:sans-serif;
  text-align:center;
}

.title3 {
  border-bottom:0px solid white;
  border-right:0px solid black;
  background-color:#eef3f9;
  text-align:right;
  width:100px;
}

/* main menu row */

.menuframe {
  border:1px solid #eef3f9;
  border-top:1px solid #eef3f9;
  border-left:1px solid #eef3f9;
  background-color:#eef3f9;
  height:29px;
}

.menu1 {
  text-align:left;
  font-size:10pt;
  vertical-align:middle;
}

.menu1a {
  text-align:center;
  width:110px;
  font-size:10pt;
  font-weight:bold;
  vertical-align:middle;
}

.menu2a {
  text-align:left;
  font-size:10pt;
}

.menu2b {
  text-align:right;
  font-size:10pt;
}

.menu3 {
  text-align:left;
  font-size:8pt;
  font-weight:bold;
}

.menu3 a {
  color: #0c5192;
}

.menu4 {
  text-align:right;
  font-size:10pt;
  vertical-align:middle;
}

.menucenter {
  border:1px solid #ffffff;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#eef3f9;
  text-align:center;
  font-size:10pt;
}

.toolframe {
  border:1px solid #ffffff;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#eef3f9;
  padding:2px;
}

/* frame table in listings */
.listframe {
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1pc solid white;
  background-color:#ffffff;
  border:0px;
}

/* title row in listing */
.listtitle {
  border:0px solid #0000FF;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#0c5192;
  text-align:center;
  width:0%;
}

.listtitle a {
  color: #eef3f9 ! important;
}

.listtitle2 {
  border:0px solid #0000FF;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#0c5192;
  text-align:center;
  width:100%;
  color: #eef3f9 ! important;
}

.listtitle3 {
  border:0px solid #0000FF;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#b3cbe5;
  text-align:center;
  width:0%;
}

/* odd and even lines in message listing */

.list1 {
  border:0px solid #308000;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#b3cbe5;
  text-align:center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.list2 {
  border:0px solid #808040;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#eef3f9;
  text-align:center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.list1h {
  border:0px solid #308000;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#b3cbe5;
  text-align:center;
  font-weight:bold;
}

.list2h {
  border:0px solid #808040;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#eef3f9;
  text-align:center;
  font-weight:bold;
}

.listatt {
  border:0px solid #808040;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#eef3f9;
  text-align:center;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* attachment line */

.attachment {
  border-left:1px solid gray;
  border-right:1px solid gray;
  border-bottom:1px solid gray;
  background-color:#eef3f9;
  text-align:left;
}

/* threaded listing */
.thread {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#b3cbe5;
  text-align:left;
}

.threadreply {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#eef3f9;
  text-align:left;
}

.threadh {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#b3cbe5;
  text-align:left;
  font-weight:bold
}

.threadreplyh {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#eef3f9;
  text-align:left;
  font-weight:bold
}

/* attribute names and values on single message page */
.attribhead {
  background-color:#eef3f9;
  border:0px solid #0000FF;
  border-top:0px solid white;
  border-left:0px solid white;
  padding:3px;
  font-size:10pt;
  font-family:sans-serif;
}

.attribname {
  width:150px;
  background-color:#0c5192;
  border:0px solid #0000FF;
  border-top:0px solid white;
  border-left:0px solid white;
  padding:4px;
  color: #eef3f9 ! important;
  text-align: right;
}

.attribvalue {
  border:0px solid #308000;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#b3cbe5;
  padding:3px;
}

.attribvalue2 {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFFFB0;
  padding:3px;
}

/* message cell in listing */
.messagelist {
  background-color:white;
  border-right:1px solid gray;
  border-left:1px solid gray;
  border-bottom:1px solid gray;
  font-family:'lucida console',courier,monospace;
  font-size:10pt;
  padding:5px;
}

/* message display in single message page */
.messageframe {
  background-color:white;
  border:1px solid #ffffff;
  border-top:0px;
  padding:3px;
}

.messagepre {
  font-family:'lucida console',courier,monospace;
}

/* frame around attachments */

.attachmentframe {
  border:1px solid grey;
  border-top:1px solid lightgrey;
  border-left:1px solid lightgrey;
  background-color:white;
  padding:5px;
}

/* maximal attachment img width */

.attachmentframe img {
	max-width:100%;
}

/* attachment size */
.bytes {
  font-family:'lucida console',courier,monospace;
  font-size:10pt;
}

/* summary display (threaded mode expand) */
.summary {
  border:0px solid black;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:white;
  font-family:'lucida console',courier,monospace;
  font-size:8pt;
}

/* input forms */
.form1 {
  border:0px solid #308000;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#b3cbe5;
  padding:3px;
}

.form2 {
  border:0px solid #308000;
  border-top:0px solid white;
  border-left:0px solid white;
  background-color:#b3cbe5;
  padding:3px;
}

/* error message */
.errormsg {
  border:1px solid #ffffff;
  padding:5px;
  background-color:#FFB0B0;
  text-align:center;
  font-size:medium;
}

/* notification (warning) */
.notifymsg {
  padding:5px;
  border:1px solid #806000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFD070;
  text-align:center;
  font-size:small;
}

.notifyleft {
  padding:5px;
  border:1px solid #806000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFD070;
  text-align:left;
  font-size:medium;
}

/* dialog boxes (login, delete, etc.) */
.dlgframe {
  width:50%;
  background-color:#ffffff;
  border:1px solid #ffffff;
  margin-top:2cm;
}

.dlgerror {
  background-color:red;
  padding:10px;
  font-size:small;
  text-align:center;
  font-size:medium;
  color:#00060c;
}

.dlgtitle {
  background-color:#eef3f9;
  color:#00060c;
  font-size:medium;
  text-align:center;
  padding:5px;
}

.dlgtitle a:visited { color:#A0FFA0; }
.dlgtitle a:link { color:#A0FFA0; }

.dlgform {
  background-color:#b3cbe5;
  padding:5px;
}

.calwindow {
  margin:0px;
  color:black;
  background-color:white;
  font-family:sans-serif;
}

.caltitle {
  background-color:#4682B4;
  padding:3px;
  font-size:medium;
  text-align:center;
  font-weight:bold;
  color:white;
}

.calhead {
  background-color:#468284;
  color:white;
  padding:0px;
  font-size:12px;
  text-align:center;
  font-weight:bold;
}

.calday {
  background-color:#CCFFCC;
  padding:0px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
}

.calcurday {
  background-color:#4040A0;
  padding:0px;
  font-size:16px;
  text-align:center;
  font-weight:bold;
  color:white;
  cursor:pointer;
}

.calsel {
  background-color:#208020;
  padding:0px;
  font-size:16px;
  text-align:center;
  font-weight:bold;
  color:white;
  cursor:pointer;
}

.calsat {
  background-color:#90C090;
  padding:0px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
}

.calsun {
  background-color:#90C090;
  padding:0px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  color:red;
  cursor:pointer;
}

.uploadwindow {
  margin:0px;
  color:black;
  background-color:white;
  font-family:sans-serif;
  padding:0px;
}

.uploadtext
{
  background-color:#0c5192;
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  padding:3px;
}

.uploadvalue {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#b3cbe5;
  padding:3px;
}

.quotetable {
  width:98%;
  background-color:black;
  border:0px;
  padding:0px;
}

.quotetitle {
  background-color:#ffffff;
  padding:3px;
  font-size:12px;
  font-weight:bold;
  color:white;
}

.quote {
  background-color:#FFFFB0;
  padding:10px;
}

/* ELOG home page link at bottom of page */
.bottomlink {
  font-family:sans-serif;
  font-size:xx-small;
}

/* machine status buttons - display text and hide icon */
span.cke_toolgroup > a[class*='status'] > span.cke_button_icon {
	display: inline !important;
}

span.cke_toolgroup > a[class*='status'] > span.cke_button_label {
	display: inline !important;
}

/* styles for machine status tables */
table.machine-status {
    border: 1px solid gray;
    border-collapse: collapse;
}

table.machine-status td {
    border: 1px solid gray;
    padding: 2px;
}
table.machine-status th {
    padding: 2px;
}

table.machine-status th.msTitle {
    text-align: left;
    font-style: italic;
}

table.machine-status th.msDateTime {
    text-align: right;
    font-size: 0.8em;
    font-weight: normal;
}

/* # colour scheme: from http://colorschemedesigner.com/
# pastel scheme used for regions; default scheme for RF/EMMA
# region	angle	header	body	header dec
# Gun	120�	E6E673	E6E6CF
# Buncher 120�	ffff00	ffffbf
# Booster 135�	CCFF00	F2FFBF
# Inj	150�	b8e673	DCE6CF 184 230 115
# ST1	180�	5cb85c	CFE6CF  92 184  92
# RF	210�	009999	BFFFFF
# sliders 210�	BFFFFF	E6FFFF
# ARC1	240�	5c73b8	CFD4E6  92 115 184
# ST2	270�	5c458a	D6CFE6  92  69 138
# ST3	0�	e67373	E6CFCF 230 115 115
# ARC2	30�	e6a173	E6D8CF 230 161 115
# ST4	60�	e6cf73	e6e1cf 230 207 115
# FEL     90�  aa9739    fff00a
# EmI    240�    8e41d5  b68edb (Brightness increased a bit)
# EMMA	85�		ffd940	ffe373
# MagPos 170�    7aee3c  99ee6b */

table.gun {background: #e6e6cf;}
table.gun th {background: #e6e673;}
table.linac1 {background: #dce6cf;}
table.linac1 th {background: #b8e673;}
table.s02 {background: #cfe6cf;}
table.s02 th {background: #5cb85c;}
table.c2v {background: #cfd4e6;}
table.c2v th {background: #5c73b8;}
table.vs2 {background: #d6cfe6;}
table.vs2 th {background: #5c458a;}
table.st3 {background: #e6cfcf;}
table.st3 th {background: #e67373;}
table.arc2 {background: #e6d8cf;}
table.arc2 th {background: #e6a173;}
table.st4 {background: #e6e1cf;}
table.st4 th {background: #e6cf73;}
table.rf {background: #bfffff;}
table.rf th {background: #009999;}
table.rfsliders {background: #e6ffff;}
table.rfsliders th {background: #bfffff;}
table.fel {background: #fff00a;}
table.fel th {background: #aa9739;}

