.menuframe, .headerTable, .tabs, .title2, .title3, .menu1, .menu1a, .errormsg {display:none}

/* default formatting */
body {
  margin:3px;
  color:black;
  background-color:white;
  font-family:verdana,tahoma,sans-serif;
  /* background-image:url(elog.gif); */
}

/* standard link colors and decorations */
a:link { color:#0000FF; text-decoration:none }
a:visited { color:#800080; text-decoration:none }
a:hover { color:#0000FF; text-decoration:underline }
a:active { color:#0000FF; text-decoration:underline }
a:focus { color:#0000FF; text-decoration:underline }

td {
  color:black;
  font-size:12px;
}

/* frame table */
.frame {
  width:100%;
}

/* printable frame table */
.pframe {
  width:600px;
}

/* standard formatting for logbook tabs */
.tabs {
  font-family:sans-serif;
  font-size:10pt;
  background-color:#006563;
}

/* logbook selection page */
.selframe {
  width:60%;
  background-color:#486090; 
  border:1px solid #486090;
  font-size:12pt;
}

.seltitle {
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#CCCCFF;
  color:#486090;
  text-align:center;
}

.selexp {
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#CCCCFF;
  color:#486090;
  text-align:left;
  font-size:10pt;
}

.selspace {
  width:2%;
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#EEEEEE;
}

.selgroup {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFCCFF;
  padding:3px;
  text-align:left;
  font-weight:bold;
  font-size:14pt;
}

.sellogbook {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  padding:3px;
  text-align:left;
  font-weight:bold;
}

.selcomment {
  font-size:8pt;
}

.selentries {
  background-color:#E0E0A0;
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  text-align:center;
  font-size:10pt;
}

/* unselected and selected group tabs */

.gtab a {
  background-color:#B0E0B0;
  padding-left:5px;
  padding-right:5px;
}

.gtab {
  background-color:#B0E0B0;
  border-right:1px solid #409040;
}

.sgtab a {
  color:white;
  padding-left:5px;
  padding-right:5px;
}

.sgtab {
  background-color:#486090;
  color:white;
  border-right:1px solid #084070;
}

.sgtab a:visited { color:white; } /* bug for IE */

/* unselected and selected logbook tabs */

.ltab a {
  background-color:#006563;
  color:white;
  padding-left:5px;
  padding-right:5px;
}

.ltab {
  background-color:#006563;
  border-top:1px solid #006563;
  border-left:1px solid #006563;
  border-right:1px solid #006563;
}

.sltab a {
  background-color:#486090;
  color:white;
  padding-left:5px;
  padding-right:5px;
}

.sltab {
  background-color:#486090;
  color:white;
  border-left:1px solid #006563;
  border-right:1px solid #006563;
}

.sltab a:visited { color:white; } /* bug for IE */

/* logbook title, left, middle and right cell */

.title1 {
  padding:5px;
  background-color:#486090;
  border-bottom:1px solid black;
  border-left:0px solid #000000;
  color:white;
  font-size:medium;
  font-family:sans-serif;
  text-align:left;
}

.title1 a:visited { color:#A0FFA0; }
.title1 a:link { color:#A0FFA0; }

.title2 {
  background-color:#486090;
  border-bottom:1px solid black;
  color:white;
  font-size:medium;
  font-family:sans-serif;
  text-align:center;
}

.title3 {
  border-bottom:1px solid black;
  border-right:1px solid black;
  background-color:#486090;
  text-align:right;
  width:100px;
}

/* main menu row */

.menuframe {
  border:1px solid #486090;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#E0E0E0;
}

.menu1 {
  text-align:left;
  font-size:10pt;
}

.menu1a {
  text-align:right;
  font-size:10pt;
  font-weight:bold;
}

.menu2a {
  text-align:left;
  font-size:10pt;
}

.menu2b {
  text-align:right;
  font-size:10pt;
}

.menu3 {
  text-align:left;
  font-size:8pt;
  font-weight:bold;
}

.menu4 {
  text-align:right;
  font-size:10pt;
  vertical-align:middle;
}

.toolframe {
  border:1px solid #486090;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#E0E0E0;
  padding:2px;
}

/* frame table in listings */
.listframe {
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1pc solid white;
  background-color:#486090;
  border:0px;
}

/* title row in listing */
.listtitle {
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#CCCCFF;
  text-align:center;
}

/* odd and even lines in message listing */

.list1 {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  text-align:center;
}

.list2 {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFFFB0;
  text-align:center;
}

.list1h {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  text-align:center;
  font-weight:bold;
}

.list2h {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFFFB0;
  text-align:center;
  font-weight:bold;
}

/* attachment line */

.attachment {
  border-left:1px solid gray;
  border-right:1px solid gray;
  border-bottom:1px solid gray;
  background-color:#FFFFB0;
  text-align:left;
}

/* threaded listing */
.thread {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  text-align:left;
}

.threadreply {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFFFB0;
  text-align:left;
}

.threadh {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  text-align:left;
  font-weight:bold
}

.threadreplyh {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFFFB0;
  text-align:left;
  font-weight:bold
}

/* attribute names and values on single message page */
.attribhead {
  background-color:#E0E0A0;
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  padding:2px;
  font-size:10pt;
  font-family:sans-serif;
}

.attribname {
  width:150px;
  background-color:#CCCCFF;
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  padding:3px;
}

.attribvalue {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  padding:3px;
}

.attribvalue2 {
  border:1px solid #808040;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFFFB0;
  padding:3px;
}

/* message cell in listing */
.messagelist {
  background-color:white;
  border-right:1px solid gray;
  border-left:1px solid gray;
  border-bottom:1px solid gray;
  font-family:'lucida console',courier,monospace;
  font-size:10pt;
  padding:5px;
}

/* message display in single message page */
.messageframe {
  background-color:white;
  border:0px solid #000000;
  border-top:0px;
  padding:0px;
  width:100%;
  word-wrap:break-word;
}

.messagepre {
  font-family:'lucida console',courier,monospace;
}

/* frame around attachments */

.attachmentframe {
  border:1px solid grey;
  border-top:1px solid lightgrey;
  border-left:1px solid lightgrey;
  background-color:white;
  padding:5px;
}

/* maximal attachment img width */

.attachmentframe img {
	max-width:100%;
}

/* attachment size */
.bytes {
  font-family:'lucida console',courier,monospace;
  font-size:10pt;
}

/* summary display (threaded mode expand) */
.summary {
  border:1px solid black;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:white;
  font-family:'lucida console',courier,monospace;
  font-size:8pt;
}

/* input forms */
.form1 {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  padding:3px;
}

.form2 {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  padding:3px;
}

/* error message */
.errormsg {
  border:1px solid #486090;
  padding:5px;
  background-color:#FFB0B0;
  text-align:center;
  font-size:medium;
}

/* notification (warning) */
.notifymsg {
  padding:5px;
  border:1px solid #806000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFD070;
  text-align:center;
  font-size:small;
}

.notifyleft {
  padding:5px;
  border:1px solid #806000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#FFD070;
  text-align:left;
  font-size:medium;
}

/* dialog boxes (login, delete, etc.) */
.dlgframe {
  width:50%;
  background-color:#486090; 
  border:1px solid #486090;
  margin-top:2cm;
}

.dlgerror {
  background-color:red;
  padding:10px;
  font-size:small;
  text-align:center;
  font-size:medium;
  color:white;
}

.dlgtitle {
  background-color:#486090;
  color:white;
  font-size:medium;
  text-align:center;
  padding:5px;
}

.dlgtitle a:visited { color:#A0FFA0; }
.dlgtitle a:link { color:#A0FFA0; }

.dlgform {
  background-color:#DDEEBB;
  padding:5px;
}

.calwindow {
  margin:0px;
  color:black;
  background-color:white;
  font-family:sans-serif;
}

.caltitle {
  background-color:#4682B4;
  padding:3px;
  font-size:medium;
  text-align:center;
  font-weight:bold;
  color:white;
}

.calhead {
  background-color:#468284;
  color:white;
  padding:0px;
  font-size:12px;
  text-align:center;
  font-weight:bold;
}

.calday {
  background-color:#CCFFCC;
  padding:0px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
}

.calcurday {
  background-color:#4040A0;
  padding:0px;
  font-size:16px;
  text-align:center;
  font-weight:bold;
  color:white;
  cursor:pointer;
}

.calsel {
  background-color:#208020;
  padding:0px;
  font-size:16px;
  text-align:center;
  font-weight:bold;
  color:white;
  cursor:pointer;
}

.calsat {
  background-color:#90C090;
  padding:0px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
}

.calsun {
  background-color:#90C090;
  padding:0px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  color:red;
  cursor:pointer;
}

.uploadwindow {
  margin:0px;
  color:black;
  background-color:white;
  font-family:sans-serif;
  padding:0px;
}

.uploadtext 
{
  background-color:#CCCCFF;
  border:1px solid #0000FF;
  border-top:1px solid white;
  border-left:1px solid white;
  padding:3px;
}

.uploadvalue {
  border:1px solid #308000;
  border-top:1px solid white;
  border-left:1px solid white;
  background-color:#DDEEBB;
  padding:3px;
}

.quotetable {
  width:98%;
  align:center;
  background-color:black;
  border:0px;
  padding:0px;
}

.quotetitle {
  background-color:#486090; 
  padding:3px;
  font-size:12px;
  font-weight:bold;
  color:white;
}

.quote {
  background-color:#FFFFB0; 
  padding:10px;
}

/* ELOG home page link at bottom of page */
.bottomlink {
  font-family:sans-serif; 
  font-size:xx-small;
}

