## rf condition config  
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal 
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

## main param
CHARGE_NAMES = test;
RF_NAMES = test;
RF_TRACE_NAMES = test;
LLRF_TYPE = CLARA_LRRG

## scope channel to monitor
CHARGE_DIAG_TYPE = WCM; diagnostic device

## rf parameters to save
TRACES_TO_SAVE=KLYSTRON_FORWARD_PHASE,KLYSTRON_FORWARD_POWER,CAVITY_FORWARD_PHASE, CAVITY_FORWARD_POWER ;specify traces to save breakdown data#
## mean times for traces, the first trace here uses 1_MEAN_START, 1_MEAN_END,
## the 2nd uses 2_MEAN_END etc..
## currenlty only 1 mean calc per trace is allowed
MEAN_TRACES = KLYSTRON_FORWARD_POWER,KLYSTRON_REVERSE_POWER,CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER,CAVITY_REVERSE_PHASE
## KLYSTRON_FORWARD_POWER
1_MEAN_START=2.3;in us, time before pulse end that is averaged from traces
1_MEAN_END  =2.8;in us, time before pulse end that is averaged from traces
## KLYSTRON_REVERSE_POWER
2_MEAN_START=2.3;in us, time before pulse end that is averaged from traces
2_MEAN_END  =2.8;in us, time before pulse end that is averaged from traces
## CAVITY_FORWARD_POWER
3_MEAN_START=2.5;in us, time before pulse end that is averaged from traces
3_MEAN_END  =3.0;in us, time before pulse end that is averaged from traces
## CAVITY_REVERSE_POWER
4_MEAN_START=2.9;in us, time before pulse end that is averaged from traces
4_MEAN_END  =3.1;in us, time before pulse end that is averaged from traces
## CAVITY_REVERSE_PHASE
5_MEAN_START=2.8;in us, time before pulse end that is averaged from traces
5_MEAN_END  =3.0;in us, time before pulse end that is averaged from traces
RF_STRUCTURE=CLARA_LRRG
NUM_BUFFER_TRACES=500; number of traces in history, dumped on vac-spike

## solenoid
BSOL_NAME = "CLA-LRG1-MAG-SOL-01";
SOL_NAME = "CLA-GUN-MAG-SOL-02";

VC_SIGXPIX = "CLA-VCA-DIA-CAM-01:ANA:SigmaXPix_RBV";
VC_SIGYPIX = "CLA-VCA-DIA-CAM-01:ANA:SigmaYPix_RBV";
VC_XPIX = "CLA-VCA-DIA-CAM-01:ANA:XPix_RBV";
VC_YPIX = "CLA-VCA-DIA-CAM-01:ANA:YPix_RBV";
VC_AVGINTENSITY = "CLA-VCA-DIA-CAM-01:ANA:AvgIntensity_RBV";

GUN_KLYSTRON_POWER = "CLA-GUN-LRF-CTRL-01:ad1:ch1:Power:Wnd:Avg";
GUN_CAVITY_POWER = "CLA-GUN-LRF-CTRL-01:ad1:ch3:Power:Wnd:Avg";
GUN_PHASE_SP = "CLA-GUN-LRF-CTRL-01:vm:dsp:sp_ph:phase";
GUN_PHASE_FF = "CLA-GUN-LRF-CTRL-01:vm:dsp:ff_ph:phase";
GUN_PHASE_FF_LOCK_STATE = "CLA-GUN-LRF-CTRL-01:vm:dsp:ff_ph:lock";

MACHINE_MODE = PHYSICAL;
MACHINE_AREA = CLARA_PH1
PIL_MODE = PHYSICAL;
LAS_EM_MODE = PHYSICAL;
LAS_HWP_MODE = PHYSICAL;
RF_MODE = PHYSICAL;

LAS_EM_NAME = "CLA-LAS-DIA-EM-06";
LAS_HWP_NAME = "EBT-LAS-OPT-HWP-2";
LAS_HWP_START = -10.0;
LAS_HWP_END = -4.5;
WCM_NAME = "CLA-S01-DIA-WCM-01";
MIN_CHARGE_ACCEPTED = 10.0;

SHUTTER_NAME_1 = "EBT-INJ-LSR-SHUT-01";
SHUTTER_NAME_2 = "EBT-INJ-LSR-SHUT-02";
SHUTTER_MODE = PHYSICAL;

## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = "\\192.168.83.14\claranet\apps\stage\logs\charge_measurement\logs\";
FILE_DIRECTORY = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Work\Measurements\Charge_Measurements\";
SUMMARY_FILE = "\\fed.cclrc.ac.uk\Org\NLab\ASTeC\Projects\VELA\Work\Measurements\Charge_Measurements\charge_data_all.xlsx"
##gui
GUI_UPDATE_TIME  = 1;
DATA_LOG_TIME  = 1000;
MAG_CHECK_TIME  = 1000;
LLRF_CHECK_TIME  = 1000;
SHUTTER_CHECK_TIME  = 1000;
WCM_CHECK_TIME  = 1000;
LAS_HWP_CHECK_TIME = 1000;
LAS_EM_CHECK_TIME = 1000;


