YAG_01 CONFIG FILE v1

Feel free to write any comments all over this file,
although beware, try not to use any of the keywords used to define parameters, etc!

capitalised words / phrases are keywords the reader searches for
spaces are skipped
; indicates end of line (data entry)
on a keyword line comments can go after ;

START_OF_DATA;

VERSION = 1;

NUMBER OF SCREENS          = 4;

SCREEN                     = 01;
SCREEN_NAME                = YAG01;
CAMERA_NAME                = UNKNOWN;
HEIGHT_OF_IMAGE            = 1040;
WIDTH_OF_IMAGE             = 1392;
MASK_X                     = 729;
MASK_Y                     = 529;
MASK_RX                    = 329;
MASK_RY                    = 489;
MASK_FILE                  = YAG01_MASK.txt;
PIXELS_TO_MILLIMETER_RATIO = 21.4333;
SCREEN_INFO_END;

SCREEN                     = 02;
SCREEN_NAME                = YAG02;
CAMERA_NAME                = UNKNOWN;
HEIGHT_OF_IMAGE            = 1040;
WIDTH_OF_IMAGE             = 1392;
MASK_X                     = 774;
MASK_Y                     = 519;
MASK_RX                    = 340;
MASK_RY                    = 520;
MASK_FILE                  = YAG02_MASK.txt;
PIXELS_TO_MILLIMETER_RATIO = 22.5;
SCREEN_INFO_END;

SCREEN                     = 03;
SCREEN_NAME                = YAG03;
CAMERA_NAME                = UNKNOWN;
HEIGHT_OF_IMAGE            = 1040;
WIDTH_OF_IMAGE             = 1392;
MASK_X                     = 742;
MASK_Y                     = 524;
MASK_RX                    = 337;
MASK_RY                    = 507;
MASK_FILE                  = YAG03_MASK.txt;
PIXELS_TO_MILLIMETER_RATIO = 22.3;
SCREEN_INFO_END;

SCREEN                     = VC;
SCREEN_NAME                = YAGVC;
CAMERA_NAME                = UNKNOWN;
HEIGHT_OF_IMAGE            = 1040;
WIDTH_OF_IMAGE             = 1392;
MASK_X                     = 674;
MASK_Y                     = 504;
MASK_RX                    = 674;
MASK_RY                    = 614;
MASK_FILE                  = YAGVC_MASK.txt;
PIXELS_TO_MILLIMETER_RATIO = 240;
SCREEN_INFO_END;

END_OF_DATA;
