## rf condition config  
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal 
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

## main param
CHARGE_NAMES = test;
RF_NAMES = test;
RF_TRACE_NAMES = test;
LLRF_TYPE = CLARA_LRRG

## scope channel to monitor
CHARGE_DIAG_TYPE = WCM; diagnostic device

## rf parameters to save
TRACES_TO_SAVE=KLYSTRON_FORWARD_PHASE,KLYSTRON_FORWARD_POWER,CAVITY_FORWARD_PHASE, CAVITY_FORWARD_POWER ;specify traces to save breakdown data#
## mean times for traces, the first trace here uses 1_MEAN_START, 1_MEAN_END,
## the 2nd uses 2_MEAN_END etc..
## currenlty only 1 mean calc per trace is allowed
MEAN_TRACES = KLYSTRON_FORWARD_POWER,KLYSTRON_REVERSE_POWER,CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER,CAVITY_REVERSE_PHASE
## KLYSTRON_FORWARD_POWER
1_MEAN_START=2.3;in us, time before pulse end that is averaged from traces
1_MEAN_END  =2.8;in us, time before pulse end that is averaged from traces
## KLYSTRON_REVERSE_POWER
2_MEAN_START=2.3;in us, time before pulse end that is averaged from traces
2_MEAN_END  =2.8;in us, time before pulse end that is averaged from traces
## CAVITY_FORWARD_POWER
3_MEAN_START=2.5;in us, time before pulse end that is averaged from traces
3_MEAN_END  =3.0;in us, time before pulse end that is averaged from traces
## CAVITY_REVERSE_POWER
4_MEAN_START=2.9;in us, time before pulse end that is averaged from traces
4_MEAN_END  =3.1;in us, time before pulse end that is averaged from traces
## CAVITY_REVERSE_PHASE
5_MEAN_START=2.8;in us, time before pulse end that is averaged from traces
5_MEAN_END  =3.0;in us, time before pulse end that is averaged from traces
RF_STRUCTURE=CLARA_LRRG
NUM_BUFFER_TRACES=500; number of traces in history, dumped on vac-spike

## solenoid
BSOL_PV = CLA-GUN-MAG-SOL-01:READI
SOL_PV = CLA-GUN-MAG-SOL-02:READI

MACHINE_MODE = PHYSICAL;
PIL_MODE = PHYSICAL;
RF_MODE = PHYSICAL;

## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = "\\apclara1.dl.ac.uk\ControlRoomApps\Stage\Software\Apps\charge_measurement\logs\";
##gui
GUI_UPDATE_TIME  = 1;
DATA_LOG_TIME  = 1000;


