## rf condition config  
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal 
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

## "line"_"gun type"
RF_STRUCTURE=CLARA_LRRG

## main param
TIME_BETWEEN_RF_INCREASES=10;seconds
RF_INCREASE_LEVEL=0.001;kw (KLYSTRON FORWARD POWER ESTIMATE)
DEFAULT_RF_INCREASE_LEVEL=10;LLRF units
DEFAULT_PULSE_COUNT=150;LLRF units
POWER_AIM= 0.1; MW watts
PULSE_LENGTH_START=100; ns !! NOT us
PULSE_LENGTH_AIM= 2500; ns  !! NOT us
PULSE_LENGTH_STEP= 250; ns !! NOT us

BREAKDOWN_RATE_AIM=100; per million active pulses 
LLRF_CHECK_TIME=50;ms to check main llrf parameters

RF_REPETITION_RATE=100;Hertz
RF_INCREASE_RATE=0.33333; Watts per second aim (approx)
NORMAL_POWER_INCREASE=10000;Watts normalstep size
LOW_POWER_INCREASE=1000;Watts, step size at low power
LOW_POWER_INCREASE_RATE_LIMIT=1000000;Watts. definition of low/normal power for _POWER_INCREASE tags
NUMBER_OF_PULSES_IN_BREAKDOWN_HISTORY=1000000;how many pulses to count 
NUM_BUFFER_TRACES=40; number of traces in history, dumped on vac-spike

## mean times for power traces
KFP_MEAN_TIME_TO_AVERAGE_START=0.8;in us, time before pulse end that is averaged from traces
KFP_MEAN_TIME_TO_AVERAGE_END  =0.92;in us, time before pulse end that is averaged from traces
##
KRP_MEAN_TIME_TO_AVERAGE_START=0.8;in us, time before pulse end that is averaged from traces
KRP_MEAN_TIME_TO_AVERAGE_END  =0.92;in us, time before pulse end that is averaged from traces
##
CFP_MEAN_TIME_TO_AVERAGE_START=0.8;in us, time before pulse end that is averaged from traces
CFP_MEAN_TIME_TO_AVERAGE_END  =0.92;in us, time before pulse end that is averaged from traces
##
CRP_MEAN_TIME_TO_AVERAGE_START=1.19;in us, time before pulse end that is averaged from traces
CRP_MEAN_TIME_TO_AVERAGE_END  =1.21;in us, time before pulse end that is averaged from traces
##
CPP_MEAN_TIME_TO_AVERAGE_START=0.85;in us, time before pulse end that is averaged from traces
CPP_MEAN_TIME_TO_AVERAGE_END  =0.98;in us, time before pulse end that is averaged from traces


## breakdown / outside_mask traces
##BREAKDOWN_TRACES=CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER;
BREAKDOWN_TRACES=CAVITY_REVERSE_PHASE;
OUTSIDE_MASK_CHECK_TIME = 100; ms between outside_mask_trace checks
TRACES_TO_SAVE=KLYSTRON_FORWARD_PHASE,KLYSTRON_REVERSE_PHASE,KLYSTRON_FORWARD_POWER,KLYSTRON_REVERSE_POWER,CAVITY_REVERSE_PHASE,CAVITY_FORWARD_PHASE, CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER;specify traces to save breakdown data#
EXTRA_BREAKDOWN_DAQ=VAC_LEVEL,DC_LEVEL,BREAKDOWN_RATE,BREAKDOWN_COUNT; has to go in python NOT IMPLEMTED YET
OUTSIDE_MASK_COOLDOWN_TIME = 5000; int, ms cooldown time
EXTRA_TRACES_ON_BREAKDOWN = 2; number extra traces to save after an out_side_mask_trace is detected
KLY_PWR_FOR_ACTIVE_PULSE =  500.0; min kyl fwd power to enable incrementing the pulse RF counter


## CAVITY REFLECTED POWER MASK PARAMETERS
CRP_AUTO_SET=FALSE;Will pick mask indices automatically, if false YOU must Define Them
CRP_MASK_SET_TYPE=TIME; (TIME or INDEX) for CRP_AUTO_SET=FALSE manually set s1,s2,s3,s4, via TIME in trace or INDEX in trace
CRP_S1=0.7;Only used if CRP_AUTO_SET=FALSE
CRP_S2=2.2;Only used if CRP_AUTO_SET=FALSE
CRP_S3=1.7;Only used if CRP_AUTO_SET=FALSE
CRP_S4=1.71;Only used if CRP_AUTO_SET=FALSE
CRP_MASK_TYPE=ABSOLUTE;OR PERCENT
CRP_MASK_LEVEL=20;units depend on CRP_MASK_TYPE
CRP_CHECK_STREAK=10;how many continuous points outside mask
CRP_MASK_END=2.0;ms from end of RF pulse 
CRP_MASK_FLOOR=0; values below this won't get checked
CRP_NUM_AVERAGE_TRACES=2;
CRP_AMP_DROP=TRUE;
CRP_AMP_DROP_VAL=2;

## CAVITY FORWARD POWER MASK PARAMETERS
CFP_AUTO_SET=FALSE;Will pick mask indices automatically, if false YOU must Define Them
CFP_MASK_SET_TYPE=INDEX; (TIME or INDEX) for CRP_AUTO_SET=FALSE manually set s1,s2,s3,s4, via TIME in trace or INDEX in trace
CFP_S1=63;Only used if CRP_AUTO_SET=FALSE
CFP_S2=86;Only used if CRP_AUTO_SET=FALSE
CFP_S3=300;Only used if CRP_AUTO_SET=FALSE
CFP_S4=301;Only used if CRP_AUTO_SET=FALSE
CFP_MASK_TYPE=PERCENT;OR ABSOLUTE
CFP_MASK_LEVEL=35;units depend on CFP_MASK_TYPE
CFP_CHECK_STREAK=10;how many continuous points outside mask
CFP_MASK_END=2.0;ms from end of RF pulse 
CFP_MASK_FLOOR=5000;W values below this won't get checked
CFP_NUM_AVERAGE_TRACES=1;
CFP_AMP_DROP=FALSE;
CFP_AMP_DROP_VAL=3;

## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = "C:\Users\dlerlp\Documents\RF_condition_2018\logs_clara_lrrg\"; breakdown data
##LOG_DIRECTORY = "D:\VELA\GIT Projects\Software\Apps\RF_Conditioner\logs_clara_lrrg\"; breakdown data
##LOG_DIRECTORY = "C:\Users\djs56\Documents\RF_Conditioner\logs_clara_lrrg\"; breakdown data
OUTSIDE_MASK_FORWARD_FILENAME = outside_forward_log;
OUTSIDE_MASK_REVERSE_FILENAME = outside_reverse_log;
OUTSIDE_MASK_PROBE_FILENAME = outside_probe_log;
DATA_LOG_FILENAME = data_log; general data
DATA_LOG_TIME = 1000; ms between logging data
AMP_PWR_LOG_TIME = 50; ms between logging data
PULSE_COUNT_BREAKDOWN_LOG_FILENAME="pulse_breakdown_log.txt";history of (periodic) pulse count and (all) breakdown events, used to provide continuity for day-to-day running

## Vacuum parameters
VAC_PV=CLA-LRG1-VAC-IMG-01:P;
VAC_SPIKE_DELTA=5e-9;
VAC_DECAY_MODE=LEVEL;Or TIMED if LEVEL then set VAC_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
VAC_SPIKE_DECAY_LEVEL=1.2;
VAC_SPIKE_DECAY_TIME=2000;ms
VAC_NUM_SAMPLES_TO_AVERAGE=7;
VAC_CHECK_TIME = 200; ms between vacuum level checks
VAC_SHOULD_DROP_AMP = TRUE; amp_sp to set if vacuum spike
VAC_SPIKE_AMP_DROP = 5; amp_sp to set if vacuum spike

## DC parameters
DC_PV = EBT-INJ-SCOPE-01:P1;
DC_SPIKE_DELTA=0.015;
DC_DECAY_MODE=TIMED;Or TIMED if LEVEL then set DARK_CURRENT_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
DC_SPIKE_DECAY_LEVEL=1.2;
DC_SPIKE_DECAY_TIME=2000;
DC_NUM_SAMPLES_TO_AVERAGE=5;
DC_CHECK_TIME = 1000; ms between vacuum level checks
DC_SHOULD_DROP_AMP = FALSE;
DC_SPIKE_AMP_DROP = 6; amp_sp to set if vacuum spike


##Temperature PVs
CAVITY_TEMPERATURE_PV=CLA-GUN-RF-LRRG-01:RT;
CAVITY_TEMPERATURE_CHECK_TIME = 1000;ms between getting new value
WATER_TEMPERATURE_PV=CLA-GUN-RF-LRRG-01:RT;
WATER_TEMPERATURE_CHECK_TIME = 1000;ms between getting new value

## solenoid
SOL_PV = CLA-GUN-MAG-SOL-02:READI
SOL_CHECK_TIME = 1000

##modulator checking
MOD_CHECK_TIME  = 1000;ms

##rf protection checking
RF_PROT_CHECK_TIME  = 1000;ms

## vac_valve
VAC_VALVE_AREA = CLARA_PH1;value used to define MACHINE_AREA
VAC_VALVE = S01-VALV-01;value must match name of valve in MACHINE_AREA to monitor
VAC_VALVE_CHECK_TIME = 1000;ms between getting new value!!!!


##gui
GUI_UPDATE_TIME  = 1000;


