## rf condition config  
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal 
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

##
## THE TRACE SHORTHAND NAMING SCHEME
## KRPOW = "KLYSTRON_REVERSE_POWER"
## KRPHA = "KLYSTRON_REVERSE_PHASE"
## KFPOW = "KLYSTRON_FORWARD_POWER"
## KFPHA = "KLYSTRON_FORWARD_PHASE"
## CRPOW = "CAVITY_REVERSE_POWER"
## CRPHA = "CAVITY_REVERSE_PHASE"
## CPPOW = "CAVITY_PROBE_POWER"
## CPPHA = "CAVITY_PROBE_PHASE"
## CFPOW = "CAVITY_FORWARD_POWER"
## CFPHA = "CAVITY_FORWARD_PHASE"


## "line"_"gun type"
RF_STRUCTURE=L01

## main param
TIME_BETWEEN_RF_INCREASES=10;seconds
RF_INCREASE_LEVEL=0.001;kw (KLYSTRON FORWARD POWER ESTIMATE)
DEFAULT_RF_INCREASE_LEVEL=10;LLRF units
DEFAULT_PULSE_COUNT=500;how many pulses to wait before next step
POWER_AIM= 0.1; MW watts
PULSE_LENGTH_START=100; ns !! NOT us
PULSE_LENGTH_AIM= 2500; ns  !! NOT us
PULSE_LENGTH_STEP= 250; ns !! NOT us

BREAKDOWN_RATE_AIM=100; per million active pulses 
LLRF_CHECK_TIME=50;ms to check main llrf parameters

RF_REPETITION_RATE=10;Hertz
RF_INCREASE_RATE=0.33333; Watts per second aim (approx)
NORMAL_POWER_INCREASE=10000;Watts normalstep size
LOW_POWER_INCREASE=1000;Watts, step size at low power
LOW_POWER_INCREASE_RATE_LIMIT=1000000;Watts. definition of low/normal power for _POWER_INCREASE tags
NUMBER_OF_PULSES_IN_BREAKDOWN_HISTORY=1000000;how many pulses to count 
NUM_BUFFER_TRACES=500; number of traces in history, dumped on vac-spike

## mean times for traces, the first trace here uses 1_MEAN_START, 1_MEAN_END, 
## the 2nd uses 2_MEAN_END etc..  
## currenlty only 1 mean calc per trace is allowed
MEAN_TRACES = KLYSTRON_FORWARD_POWER,KLYSTRON_REVERSE_POWER,CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER,CAVITY_REVERSE_PHASE,CAVITY_PROBE_POWER
## KLYSTRON_FORWARD_POWER
1_MEAN_START=1.0;in us, time before pulse end that is averaged from traces
1_MEAN_END  =1.15;in us, time before pulse end that is averaged from traces
## KLYSTRON_REVERSE_POWER
2_MEAN_START=1.0;in us, time before pulse end that is averaged from traces
2_MEAN_END  =1.15;in us, time before pulse end that is averaged from traces
## CAVITY_FORWARD_POWER
3_MEAN_START=1.0;in us, time before pulse end that is averaged from traces
3_MEAN_END  =1.15;;in us, time before pulse end that is averaged from traces
## CAVITY_REVERSE_POWER
4_MEAN_START=1.0;in us, time before pulse end that is averaged from traces
4_MEAN_END  =1.15;;in us, time before pulse end that is averaged from traces
## CAVITY_REVERSE_PHASE
5_MEAN_START=1.0;in us, time before pulse end that is averaged from traces
5_MEAN_END  =1.15;;in us, time before pulse end that is averaged from traces
## CAVITY_PROBE_POWER
6_MEAN_START=1.0;in us, time before pulse end that is averaged from traces
6_MEAN_END  =1.15;;in us, time before pulse end that is averaged from traces


## breakdown / outside_mask traces
##BREAKDOWN_TRACES=CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER;
BREAKDOWN_TRACES=CAVITY_REVERSE_PHASE,CAVITY_FORWARD_POWER;
OUTSIDE_MASK_CHECK_TIME = 100; ms between outside_mask_trace checks
TRACES_TO_SAVE=KLYSTRON_FORWARD_PHASE,KLYSTRON_REVERSE_PHASE,KLYSTRON_FORWARD_POWER,KLYSTRON_REVERSE_POWER,CAVITY_REVERSE_PHASE,CAVITY_FORWARD_PHASE, CAVITY_FORWARD_POWER, CAVITY_REVERSE_POWER, CAVITY_PROBE_POWER, CAVITY_PROBE_POWER ;specify traces to save breakdown data#
EXTRA_BREAKDOWN_DAQ=VAC_LEVEL,DC_LEVEL,BREAKDOWN_RATE,BREAKDOWN_COUNT; has to go in python NOT IMPLEMTED YET
OUTSIDE_MASK_COOLDOWN_TIME = 3000; int, ms cooldown time
EXTRA_TRACES_ON_BREAKDOWN = 2; number extra traces to save after an out_side_mask_trace is detected
KLY_PWR_FOR_ACTIVE_PULSE =  500.0; min kyl fwd power to enable incrementing the pulse RF counter


## !!!!!!!
PHASE_MASK_BY_POWER_POWER_TRACE_1 = CAVITY_REVERSE_POWER;
PHASE_MASK_BY_POWER_PHASE_TRACE_1 = CAVITY_REVERSE_PHASE;
PHASE_MASK_BY_POWER_LEVEL_1 = 5000.0;


## CAVITY REVERSE PHASE MASK PARAMETERS
CRPHA_AUTO_SET=FALSE;Will pick mask indices automatically, if false YOU must Define Them
CRPHA_MASK_SET_TYPE=INDEX; (TIME or INDEX) for CRP_AUTO_SET=FALSE manually set s1,s2,s3,s4, via TIME in trace or INDEX in trace
CRPHA_MASK_START=63;Only used if CRP_AUTO_SET=FALSE
CRPHA_MASK_END=86;Only used if CRP_AUTO_SET=FALSE
CRPHA_MASK_WINDOW_START=300;Only used if CRP_AUTO_SET=FALSE
CRPHA_MASK_WINDOW_END =301;Only used if CRP_AUTO_SET=FALSE
CRPHA_MASK_TYPE=PERCENT;OR ABSOLUTE
CRPHA_MASK_ABS_MIN=500;Minimum value for a mask, regardless
CRPHA_MASK_LEVEL=35;units depend on CFP_MASK_TYPE
CRPHA_CHECK_STREAK=10;how many continuous points outside mask
CRPHA_MASK_FLOOR=5000;W values below this won't get checked
CRPHA_MASK_MIN = 5000;W values below this won't get checked
CRPHA_NUM_AVERAGE_TRACES=5;
CRPHA_DROP_AMP=TRUE;
CRPHA_AMP_DROP_VALUE=3;

## CAVITY FORWARD POWER MASK PARAMETERS
CFPOW_AUTO_SET=FALSE;Will pick mask indices automatically, if false YOU must Define Them
CFPOW_MASK_SET_TYPE=INDEX; (TIME or INDEX) for CRP_AUTO_SET=FALSE manually set s1,s2,s3,s4, via TIME in trace or INDEX in trace
CFPOW_MASK_START=63;Only used if CRP_AUTO_SET=FALSE
CFPOW_MASK_END=86;Only used if CRP_AUTO_SET=FALSE
CFPOW_MASK_WINDOW_START=300;Only used if CRP_AUTO_SET=FALSE
CFPOW_MASK_WINDOW_END =301;Only used if CRP_AUTO_SET=FALSE
CFPOW_MASK_TYPE=PERCENT;OR ABSOLUTE
CFPOW_MASK_ABS_MIN=500;Minimum value for a mask, regardless
CFPOW_MASK_LEVEL=35;units depend on CFP_MASK_TYPE
CFPOW_CHECK_STREAK=10;how many continuous points outside mask
CFPOW_MASK_FLOOR=5000;W values below this won't get checked
CFPOW_MASK_MIN = 5000;W values below this won't get checked
CFPOW_NUM_AVERAGE_TRACES=5;
CFPOW_DROP_AMP=TRUE;
CFPOW_AMP_DROP_VALUE=4;
   

## CAVITY FORWARD POWER MASK PARAMETERS
KFPOW_AUTO_SET=FALSE;Will pick mask indices automatically, if false YOU must Define Them
KFPOW_MASK_SET_TYPE=INDEX; (TIME or INDEX) for CRP_AUTO_SET=FALSE manually set s1,s2,s3,s4, via TIME in trace or INDEX in trace
KFPOW_MASK_START=63;Only used if CRP_AUTO_SET=FALSE
KFPOW_MASK_END=86;Only used if CRP_AUTO_SET=FALSE
KFPOW_MASK_WINDOW_START=300;Only used if CRP_AUTO_SET=FALSE
KFPOW_MASK_WINDOW_END =301;Only used if CRP_AUTO_SET=FALSE
KFPOW_MASK_TYPE=PERCENT;OR ABSOLUTE
KFPOW_MASK_ABS_MIN=500;Minimum value for a mask, regardless
KFPOW_MASK_LEVEL=35;units depend on CFP_MASK_TYPE
KFPOW_CHECK_STREAK=10;how many continuous points outside mask
KFPOW_MASK_FLOOR=5000;W values below this won't get checked
KFPOW_MASK_MIN = 5000;W values below this won't get checked
KFPOW_NUM_AVERAGE_TRACES=5;
KFPOW_DROP_AMP=TRUE;
KFPOW_AMP_DROP_VALUE=4;



## output
LOG_FILENAME = "log.txt" ; general messages
LOG_DIRECTORY = "D:\VELA\GIT Projects\Software\Apps\RF_Conditioner\logs_l01_test\"; breakdown data
##LOG_DIRECTORY = "C:\Users\dlerlp\Documents\RF_condition_2018\logs_clara_lrrg\"; breakdown data
##LOG_DIRECTORY = "D:\VELA\GIT Projects\Software\Apps\RF_Conditioner\logs_clara_lrrg\"; breakdown data
##LOG_DIRECTORY = "C:\Users\djs56\Documents\RF_Conditioner\logs_clara_lrrg\"; breakdown data
OUTSIDE_MASK_FORWARD_FILENAME = outside_forward_log;
OUTSIDE_MASK_REVERSE_FILENAME = outside_reverse_log;
OUTSIDE_MASK_PROBE_FILENAME = outside_probe_log;
DATA_LOG_FILENAME = data_log; general data
DATA_LOG_TIME = 1000; ms between logging data
AMP_PWR_LOG_TIME = 2000; ms between logging data
PULSE_COUNT_BREAKDOWN_LOG_FILENAME="pulse_breakdown_log.txt";history of (periodic) pulse count and (all) breakdown events, used to provide continuity for day-to-day running
AMP_POWER_LOG_FILENAME="amp_power_log.txt";history of (periodic) pulse count and (all) breakdown events, used to provide continuity for day-to-day running

## Vacuum parameters
VAC_PV=CLA-LRG1-VAC-IMG-01:P;
VAC_SPIKE_DELTA=4e-9;
VAC_DECAY_MODE=LEVEL;Or TIMED if LEVEL then set VAC_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
VAC_SPIKE_DECAY_LEVEL=1.2;
VAC_SPIKE_DECAY_TIME=2000;ms
VAC_NUM_SAMPLES_TO_AVERAGE=7;
VAC_CHECK_TIME = 200; ms between vacuum level checks, we think this is the faatest they go at 
VAC_SHOULD_DROP_AMP = TRUE; amp_sp to set if vacuum spike
VAC_SPIKE_AMP_DROP = 5; amp_sp to set if vacuum spike
VAC_MAX_LEVEL = 5e-9;
VAC_MAX_AMP_DROP = 7; amp_sp to set if vacuum spike


## DC parameters
DC_PV = CLA-S01-DIA-WCM-01:Q;
DC_SPIKE_DELTA=10.015;
DC_DECAY_MODE=TIMED;Or TIMED if LEVEL then set DARK_CURRENT_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
DC_SPIKE_DECAY_LEVEL=1.2;
DC_SPIKE_DECAY_TIME=2000;
DC_NUM_SAMPLES_TO_AVERAGE=5;
DC_CHECK_TIME = 1000; ms between vacuum level checks
DC_SHOULD_DROP_AMP = TRUE;
DC_SPIKE_AMP_DROP = 6; amp_sp to set if vacuum spike


##Temperature PVs
CAVITY_TEMPERATURE_PV=CLA-GUN-RF-LRRG-01:RT;
CAVITY_TEMPERATURE_CHECK_TIME = 1000;ms between getting new value
WATER_TEMPERATURE_PV=CLA-GUN-RF-LRRG-01:RT;
WATER_TEMPERATURE_CHECK_TIME = 1000;ms between getting new value

## solenoid
SOL_PV = CLA-GUN-MAG-SOL-02:READI
SOL_CHECK_TIME = 1000

##modulator checking
MOD_CHECK_TIME  = 1000;ms

##rf protection checking
RF_PROT_CHECK_TIME  = 1000;ms

## vac_valve
VAC_VALVE_AREA = CLARA_PH1;value used to define MACHINE_AREA
VAC_VALVE = S01-VALV-01;value must match name of valve in MACHINE_AREA to monitor
VAC_VALVE_CHECK_TIME = 1000;ms between getting new value!!!!


##gui
GUI_UPDATE_TIME  = 1000;


