## rf condition config  
## comments
## ; end of line
## , denotes list
## all whitespace trimmed, except string literal
## " string literal 
## general format:
## key = value
## the reader needs to know all keys and values
## (at a minimum how to convert to numbers etc)

##
RF_STRUCTURE=CLARA_LRRG

## s
TIME_BETWEEN_RF_INCREASES=5000;milli-seconds
RF_INCREASE_LEVEL=50;LLRF units
RF_REPETITION_RATE=1;Hertz
BREAKDOWN_RATE_AIM=5;units?

## CAVITY REFLECTED POWER MASK PARAMETERS
CRP_AUTO_SET=TRUE;Will pick mask indices automatically, if false YOU must Define Them
CRP_S1=0;Only used if CRP_AUTO_SET=FALSE
CRP_S2=0;Only used if CRP_AUTO_SET=FALSE
CRP_S3=0;Only used if CRP_AUTO_SET=FALSE
CRP_S4=0;Only used if CRP_AUTO_SET=FALSE
CRP_MASK_TYPE=PERCENT;OR ABSOLUTE
CRP_MASK_LEVEL=5;units depend on CRP_MASK_TYPE

## CAVITY FORWARD POWER MASK PARAMETERS
CFP_AUTO_SET=TRUE;Will pick mask indices automatically, if false YOU must Define Them
CFP_S1=0;Only used if CRP_AUTO_SET=FALSE
CFP_S2=0;Only used if CRP_AUTO_SET=FALSE
CFP_S3=0;Only used if CRP_AUTO_SET=FALSE
CFP_S4=0;Only used if CRP_AUTO_SET=FALSE
CFP_MASK_TYPE=PERCENT;OR ABSOLUTE
CFP_MASK_LEVEL=5;units depend on CFP_MASK_TYPE


## output
LOG_FILE = "write log.txt" ; general messages
BREAK_DOWN_LOG = break_down_log.txt; breakdown data
DATA_LOG = data_log.txt; general data

# Break Down Data#
# specify traces to save breakdown data#
# the actual data fromn LLRF is specified in the c++#
TRACES_TO_SAVE=KLYSTRON_FORWARD_PHASE,KLYSTRON_REVERSE_PHASE,KLYSTRON_FORWARD_POWER,KLYSTRON_REVERSE_POWER,CAVITY_REVERSE_PHASE,CAVITY_FORWARD_PHASE, CAVITY_FORWARD_POWER,CAVITY_REVERSE_POWER
EXTRA_BREAKDOWN_DAQ=VAC_LEVEL,DC_LEVEL,BREAKDOWN_RATE,BREAKDOWN_COUNT

## Vacuum parameters
VAC_PV=EBT-HRG1-VAC-IMG-01:PRES;
VAC_SPIKE_DELTA=2e-10;
VAC_DECAY_MODE=TIMED;Or TIMED if LEVEL then set VAC_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
VAC_SPIKE_DECAY_LEVEL=1.1;
VAC_SPIKE_DECAY_TIME=15000;ms
VAC_NUM_SAMPLES_TO_AVERAGE=5;
VAC_CHECK_TIME = 1000; ms between vacuum level checks

## DC parameters
DC_PV =
DC_SPIKE LEVEL=0.5;
DC_DECAY_MODE=LEVEL;Or TIMED if LEVEL then set DARK_CURRENT_SPIKE_DECAY_LEVEL
; if TIMED set VAC_SPIKE_DECAY_TIME
DC_SPIKE_DECAY_LEVEL=1.1;
DC_SPIKE_DECAY_TIME=0;
DC_NUM_SAMPLES_TO_AVERAGE=5;
DC_CHECK_TIME = 1000; ms between vacuum level checks

##Temperature PVs
CAVITY_TEMPERATURE_PV=CLA-GUN-RF-LRRG-04:RT;
CAVITY_TEMPERATURE_CHECK_TIME = 2000;ms between getting new value
WATER_TEMPERATURE_PV=CLA-GUN-RF-LRRG-01:RT;
WATER_TEMPERATURE_CHECK_TIME = 5000;ms between getting new value

##modulator checking
MOD_IN_TRIG_CHECK_TIME  = 2000;might not be needed

##rf protection checking
RF_PROT_CHECK_TIME
RF_PROT_CHECK_TIME  = 2000;


## vac_valve
VAC_VALVE_CONTROLLER = S01;value used to define MACHINE_AREA
VAC_VALVE = VALV01;value must match name of valve in MACHINE_AREA to monitor
VAC_VALVE_CHECK_TIME = 10000;ms between getting new value

##Continuous DAQ Paramaters
DATA_DAQ=TIME,RF_PULSE_NUMBER,RF_PERMIT_STATUS,RF_MODULATOR_STATUS,RF_PULSE_LENGTH,KLYSTRON_FORWARD_POWER,KLYSTRON REFLECTED_POWER,CAVITY_FORWARD_POWER,CAVITY_REFLECTED_POWER,VAC_LEVEL,VACUUM_VALVE_STATUS,CAVITY_TEMPERATURE,WATER_TEMPERATURE,BREAKDOWN_RATE,BREAKDOWN_COUNT
;,Probe power (100 ns from end)
;WCM reading